<form action="postPasta" method="POST">
    <label>Название</label>
    <input name="title" /><br><br>
    <textarea name="text" cols="30" rows="10"></textarea><br><br>
    <label>Публичное</label>
    <input type="checkbox" name="isPublic" checked><br><br>
    <select name="duration">
        <option value="10">10 мин</option>
        <option value="60">1 час</option>
        <option value="180">3 часа</option>
        <option value="1440">1 сутки</option>
        <option value="10080">1 неделя</option>
        <option value="40320">1 месяц</option>
        <option value="0">без ограничений</option>
    </select>
    <input type="submit" value="Отправить" />
</form>