<div class="item pasta">
    <i class="bookmark icon"></i>
    <div class="content">
        <a class="header" href="/pasta/{{link}}">{{title}}</a>
        <div class="description">{{text}}</div>
    </div>
</div>